@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h4>Error: @ViewBag.ErrorType</h4>

@if (ViewBag.ErrorType == "FileType")
{
    <h2>The file type @ViewBag.FileType is not a audio or video format</h2>
}
@if (ViewBag.ErrorType == "NoConnection")
{
    <h2>Can't reach the pi on 192.168.1.101. Check the pi.</h2>
}