@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("saveConfig", "Raspberry", FormMethod.Post))
{
    <div id="tablesWrapper">
        <table id="left_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="2" value="" type="text" />

                </td>
            </tr>
            <tr>
                <td>
                    <input name="3" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="4" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="17" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="27" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="22" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="10" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="9" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="11" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
        </table>
        <table id="right_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="14" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="15" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="18" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="23" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="24" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                </td>
            </tr>
            <tr>
                <td>
                    <input name="25" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="8" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="7" type="text" />
                </td>
            </tr>
        </table>
    </div>
    <input type="submit" name="saveConfig" id="saveConfig" value="saveConfig" />
}