@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var temp1 = Model[0].pinnumber;
}
@using (Html.BeginForm("saveConfig", "Raspberry", FormMethod.Post))
{
    <h2>Configure LED layout</h2>
    <div id="tablesWrapper">
        <table id="left_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="3" value="" type="text" />

                </td>
            </tr>
            <tr>
                <td>
                    <input name="5" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="7" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="11" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="13" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="15" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="19" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="21" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="23" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="27" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="29" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="31" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="33" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="35" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="37" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>

        </table>
        <table id="right_table">
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="8" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="10" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="12" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="16" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="18" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="22" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="24" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="26" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="28" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="32" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <!--Pin cannot be used-->
                    <p>not available</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="36" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="38" value="" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input name="40" value="" type="text" />
                </td>
            </tr>
        </table>
    </div>
    <input type="submit" name="saveConfig" id="saveConfig" value="save current configuration" />
}