@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raspberry Pagina</h1>

<p>Welkom bij Raspberry controller</p>
<div id="musicUpload">
    @using (Html.BeginForm("Upload", "Raspberry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>

<div class="buttons">

    @foreach (var item in Model)
    {
        if (item.isSet)
        {
            string state;
            if (item.isOn) { state = "on"; }
            else { state = "off"; }

            if (item.color == "red")
            {
            <label class="RedButton">
                <p>@state</p><button style="display: none;" type="button">  </button>
            </label>
            }

            if (item.color == "blue")
            {
            <label class="BlueButton">
                <p>@state</p><button style="display: none;" type="button">  </button>
            </label>
            }

            if (item.color == "green")
            {
            <label class="GreenButton">
                <p>@state</p><button style="display: none;" type="button">  </button>
            </label>
            }

            if (item.color == "rbg")
            {
            <label class="RBGButton">
                <p>@state</p><button style="display: none;" type="button">  </button>
            </label>
            }
        }
    }
</div>
