@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Raspberry Pagina</h1>

<p>Welkom bij Raspberry controller</p>
<div id="musicUpload">
    @using (Html.BeginForm("Upload", "Raspberry", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>
