body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Start of custom css code*/


/*menu bar*/
.nav{
    background:#222222;
    display:inline-block;
    width:70%;
    position:relative
}

.nav li{
    text-decoration:none;
    display:inline;
    line-height:39px;
    position:relative;
}

.nav li a{
    text-decoration:none;
    color:black;
    padding:14px 20px;
}

.nav li a:hover{
    text-decoration:none;
    color:darkgray;
    background:Cornsilk;
}

.submenu{
    display:none;
    position:absolute;
    list-style-type:none;
    background:silver;
    top:39px;
    left:15px;
    padding:0;
}

.submenu li a{
    text-decoration:none;
    color:black;
    padding:4px 15px;
    width:200px;
    display:block;
}

.submenu li a:hover{
    text-decoration:none;
    color:whitesmoke;
    background:silver;
}
/*End menu bar*/


/*Raspbarry config page*/

#left_table, #right_table{
    float:left;
    margin-top:12px;
}
#left_table{
    margin-right:130px;
}

#tablesWrapper td{
    background-color:white;
    height: 34px;
    width: 100px;
    border:1px dashed Gainsboro ;

}

#tablesWrapper td p{
    font-style:italic;
    color:red;
}
#tablesWrapper{
    background: url('../Images/gpioImage.png') no-repeat;
    background-position-x:100px;
    display:block;
    width: 400px;
    height: 720px;
}
input{
    width:100%;
}
/*End raspbarry config page*/

/*Begin Raspberry index page*/
.buttons{
    margin-top:60px;
}

.toggle.btn {
    width: 68px !important;
    height: 32px !important;
}

.RedButton{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:white;
    line-height:100px;
    text-align:center;
    background:red;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.BlueButton{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:white;
    line-height:100px;
    text-align:center;
    background:blue;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.GreenButton{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:white;
    line-height:100px;
    text-align:center;
    background:green;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.RBGButton{
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:white;
    line-height:100px;
    text-align:center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*End Raspberry index page*/