body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Start of custom css code*/


/*menu bar*/
.nav{
    background:#222222;
    display:inline-block;
    width:70%;
    position:relative
}

.nav li{
    text-decoration:none;
    display:inline;
    line-height:39px;
    position:relative;
}

.nav li a{
    text-decoration:none;
    color:black;
    padding:14px 20px;
}

.nav li a:hover{
    text-decoration:none;
    color:darkgray;
    background:Cornsilk;
}

.submenu{
    display:none;
    position:absolute;
    list-style-type:none;
    background:silver;
    top:39px;
    left:15px;
    padding:0;
}

.submenu li a{
    text-decoration:none;
    color:black;
    padding:4px 15px;
    width:200px;
    display:block;
}

.submenu li a:hover{
    text-decoration:none;
    color:whitesmoke;
    background:silver;
}
/*End menu bar*/




/*RASPBERRY PAGE STYLING*/

/*Raspbarry config page*/

#left_table, #right_table{
    float:left;
    margin-top:15px;
    margin-left:7.5px;
    margin-right:7.5px;
}
#left_table{
    margin-right:150px;
}
#right_table select{
    margin-left:20px;
}


#tablesWrapper td{
    background-color:#222222;
    height: 34px;
    width: 100px;
}

#tablesWrapper td p{
    font-style:italic;
    color:red;
}
#tablesWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background:url('../Images/gpioImage.png') no-repeat, linear-gradient(#222222,#222222);
    background-position-x:220px;
    display:block;
    width: 600px;
    height: 720px;

}
#saveConfig{
    margin-top:15px;
}
input{
    width:100%;
}
/*End raspbarry config page*/

/*Begin Raspberry index page*/
#raspberrypi_index_wrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    width:70%;
    color:silver;
    padding-left:10px;
    margin-top:25px;
}
.buttons{
    padding:10px;
    margin-top:60px;
    width:auto;
    display:inline-block;
}

.toggle.btn {
    width: 68px !important;
    height: 32px !important;
}
.Button{
    border:1px solid white ;
    cursor:default;
    width:106px;
    height:106px;
    border-radius:50px;
    font-size:20px;
    color:silver;
    line-height:100px;
    text-align:center;
    background:SlateGray;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.LED{
    border:1px solid white ;
    cursor:pointer;
    width:106px;
    height:106px;
    border-radius:50px;
    font-size:20px;
    color:silver;
    line-height:100px;
    text-align:center;
    background:WhiteSmoke;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*End Raspberry index page*/

/*Start Raspberry ping page*/
#raspberryPingWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px grey;
    background-color:#222222;
    color:silver;
    width:50%;
}


/*End Raspberry ping page*/


/*ROUTER PAGE STYLING*/

/*Begin Router status page*/
#pingResults{
    border:1px solid black;
    box-shadow: 10px 10px 5px grey;
    background-color:#222222;
    padding-top:5px;
    padding-left:5px;
    width:50%;
    color:silver;
}
/*End Router status page*/

/*Start Router index page*/
#networkDrawing{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    margin-bottom:25px;
    width:1025px;
}

#ipTable{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    color:silver;
}

#ipTable th{
    padding-right:10px;
    padding-left:5px;
    border-bottom:2px solid;
    border-color:silver;
}

#ipTable td{
    padding-right:10px;
    padding-left:5px;
}
/*End Router index page*/

/*Start router ping page*/
#routerPingWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    color:silver;
    width:50%;
}

/*End router ping page*/