/* Custom reset code*/
* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

/* Foundation reset code*/
table tr th, table tr td {
    padding: 0;
}

select{
    padding: 0;
    margin: 0;
    width:100%;
    height: auto;
}


input[type="text"]{
    padding: 0;
    margin: 0;
    width:100%;
    height: auto;
}

/*Generic style*/
input[type="submit"] {
    color: #000;
}

.wrapper label{
    color: #ccc;
}

@media screen and (min-width:700px) {
    .wrapper{
        padding:20px 50px;
    }
}

@media screen and (max-width:700px) {
    .wrapper{
        padding:20px 20px;
    }
}
.wrapper {
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color: #222222;
    color: #ccc;
    margin-top: 25px;
}

.wrapper h1 {
    color: #ccc;
}

@media screen and (min-width:700px) {
    .wrapper input[type="text"] {
        max-width: 30%;
    }


    .wrapper select {
        max-width: 30%;
    }
}
@media screen and (max-width:700px) {
    .wrapper input[type="text"] {
        width: 60%;
    }

    .wrapper select {
        width: 60%;
    }
}

/*Raspbarry config page*/

#left_table, #right_table{
    float:left;
    margin-top:18px;
    margin-left:7.5px;
    margin-right:7.5px;
    border: 1px solid #222222;
}
#left_table{
    margin-right:150px;
    margin-left:10px;
    background-color:#222222;
    border: 1px solid #222222;
}

#left_table td{
    padding-right:8px;
    height:20px;
}

#right_table select{
    height: auto;
    padding: 0;
    margin-right:15px;
    height:20px;
}
#right_table td{
    padding-right: 8px;
    height:20px;

}

#tablesWrapper tr {
    height:32px;
}

#tablesWrapper td{
    background-color:#222222;
    height: 33px;
    width: 100px;
}

#tablesWrapper td p{
    font-style:italic;
    color:red;
    margin-bottom: 0;
}
#tablesWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background:url('../Images/gpioImage.png') no-repeat, linear-gradient(#222222,#222222);
    background-position-x:220px;
    display:block;
    width: 600px;
    height: 720px;

}
#saveConfig{
    float:left;
    margin-top:20px;
}

/*Begin Raspberry index page*/
.buttons{
    padding:10px;
    margin-top:45px;
    margin-bottom: 30px;
    width:auto;
    display:inline-block;
}

.toggle.btn {
    width: 68px !important;
    height: 32px !important;
}

.Button{
    border:1px solid white ;
    cursor:default;
    width:106px;
    height:106px;
    border-radius:50px;
    font-size:20px;
    color:silver;
    line-height:100px;
    text-align:center;
    background:SlateGray;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline-block;
}

.LED{
    border:1px solid white ;
    cursor:pointer;
    width:106px;
    height:106px;
    border-radius:50px;
    font-size:20px;
    color:silver;
    line-height:100px;
    text-align:center;
    background:WhiteSmoke;
    margin-right:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: inline-block;
}
/*End Raspberry index page*/

/*Start Raspberry ping page*/
#raspberryPingWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px grey;
    background-color:#222222;
    color:silver;
    width:50%;
}


/*End Raspberry ping page*/


/*ROUTER PAGE STYLING*/

/*Begin Router status page*/
#pingResults{
    border:1px solid black;
    box-shadow: 10px 10px 5px grey;
    background-color:#222222;
    padding-top:5px;
    padding-left:5px;
    width:50%;
    color:silver;
}
/*End Router status page*/

/*Start Router index page*/
#networkDrawing{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    margin-bottom:25px;
    width:100%;
}

#ipTable{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    color:silver;
}

#ipTable th{
    padding-right:10px;
    padding-left:5px;
    border-bottom:2px solid;
    border-color:silver;
    background: #F9F9F9;
}

#ipTable td{
    padding-right:10px;
    padding-left:5px;
    background: #F9F9F9;
}
/*End Router index page*/

/*Start router ping page*/
.ip-input {
    margin: 10px 0 !important;
}

#routerPingWrapper{
    border:1px solid black;
    box-shadow: 10px 10px 5px 0px grey;
    background-color:#222222;
    color:silver;
    width:50%;
}

/*End router ping page*/